<div [class.blur-2xl]="sharedService.blurBackground()">
  <h1>Mes sentiers</h1>
  <button class="" type="button" (click)="openTrailModal()">Créer un sentier</button>
  @if (mesSentiersService.loading()) {
    <p>Chargement des sentiers...</p>
  } @else if (mesSentiersService.error()) {
    <app-error [errorMessage]="mesSentiersService.error() ?? 'Erreur inconnue'" />
  } @else {
    @if (user!.trails!.length === 0) {
      <p>Vous n'avez pas encore créé de sentier.</p>
    } @else {
      @for (sentier of user!.trails; track sentier.id) {
        <hr class="mt-2"/>
        <div>
          <p>id: {{ sentier.id }} - name: {{ sentier.display_name }} - status: {{ sentier.status ?? 'brouillon'}} </p>
          <div>
            <button type="button"><a [routerLink]="['/trail', sentier.id]">Ouvrir</a></button>

            @if (sentier.status === null) {
              <button class="" type="button" (click)="openDeleteConfirmModal(sentier)">supprimer ce sentier</button>
              <button class="" type="button" (click)="openTrailModal(sentier!)">Modifier ce sentier</button>
              <button class="" type="button" (click)="checkSentier(sentier)">Vérifier ce sentier</button>
            }

          </div>
          @if (sentierChecks()[sentier.id] && sentierChecks()[sentier.id].status) {
            <app-sentier-check-errors [check]="sentierChecks()[sentier.id]" />
          }
          @if (sentierCheckErrors()[sentier.id]) {
            <app-sentier-check-errors [error]="sentierCheckErrors()[sentier.id]!" />
          }
        </div>
      }
    }
  }
</div>

@if (showTrailModal) {
  <app-sentier-form
    [sentier]="sentierToUpdate"
    (modalClosed)="closeTrailModal()"
  />
}

@if (showDeleteConfirmModal) {
  <app-modal-delete-trail-confirmation
    [sentierToDelete]="sentierToDelete"
    (modalClosed)="closeDeleteConfirmModal()"
  />
}
