<div class="popup !h-1/2 sm:!w-6/10 !w-full !left-0 !top-2/10 sm:!left-2/10 bg-background! relative z-40">
  <div class="absolute top-2 right-2 cursor-pointer p-2 z-50" role="button" tabindex="0" (click)="close()" (keydown)="handleKey($event)">
    <span class="material-symbols-outlined text-primary !text-4xl" title="Fermer le formulaire">cancel</span>
  </div>
  <h3>{{ occurrence() ? "Modifier l'individu" : "Ajouter un individu" }}</h3>
  <form [formGroup]="form()" (ngSubmit)="submit()">
    <h4>Informations de taxon</h4>

    @if (!occurrence()) {
      <app-taxon-search (emitClear)="resetSelection()" (emitTaxon)="fillOccurrence($event)"/>
    } @else {
      @if (occurrence()!.taxon?.scientific_name) {
        <p>Nom scientifique: {{ occurrence()!.taxon!.scientific_name }}</p>
      }
      @if (occurrence()!.taxon?.taxon_repository) {
        <p>Référentiel: {{ occurrence()!.taxon!.taxon_repository }}</p>
      }
      @if (occurrence()!.taxon?.vernacular_names?.length) {
        <p>Noms vernaculaires: {{ occurrence()!.taxon!.vernacular_names!.join(', ') }}</p>
      }
    }

    <h4>Divers</h4>
    <div>
      <label for="anecdotes">Anecdotes à propos de l'individu</label>
      <input formControlName="anecdotes" id="anecdotes" placeholder="Ajouter une anecdote" type="text">
    </div>

    <div class="flex justify-between items-center">
      <button class="bg-red-200" title="Fermer le formulaire" type="button" (click)="close()">Annuler</button>

      @if (selectedTaxonName() !== '' && !taxonSearchService.loading() && form().valid) {
        <button title="Enregistrer l'individu" type="submit">Enregistrer</button>
      }

      @if (form().dirty && !form().valid) {
        <app-error errorMessage="Vous devez sélectionner un individu." />
      }
    </div>

    @if(occurrenceService.error()){
      <app-error [errorMessage]="occurrenceService.error() ?? ''" />
    }

  </form>
</div>
