<div [class.blur-2xl]="sharedService.blurBackground()">
  @if (sentierService.loading()) {
    <app-loader />
  } @else if (sentierService.error()) {
    <button class="" type="button" (click)="openTrailModal()">Créer un sentier</button>
    <app-error [errorMessage]="sentierService.error() ?? 'Erreur inconnue'" />
  } @else {
    <button class="" type="button" (click)="openTrailModal()">Créer un sentier</button>
    <h2>{{ sentier!.display_name }}</h2>

    @if (sentier!.status !== 'Validé') {
      <p>État: {{ sentier!.status ?? 'brouillon' }}</p>

      @if (isLoggedIn() && user && user.id === sentier!.author_id) {
        <button class="" type="button" (click)="openTrailModal(sentier!)">Modifier ce sentier</button>
        <button
          class="bg-red-800 hover:bg-red-600 text-white"
          type="button"
          (click)="openDeleteConfirmModal(sentier!)"
        >supprimer ce sentier</button>

        @if (sentier!.status !== 'Validé' && sentier!.status !== 'En attente') {
          <button class="" type="button" (click)="checkSentier(sentier!)">Vérifier ce sentier</button>
        }

        @if (sentierCheck().status && sentier!.status !== 'En attente') {
          <app-sentier-check-errors [check]="sentierCheck()!" />
        }
        @if (sentierCheckError() && sentier!.status !== 'En attente') {
          <h3>Erreurs détectées:</h3>
          <app-sentier-check-errors [error]="sentierCheckError()!" />
        }

        @if (sentierCheck().status && !sentierCheckError() && sentier!.status !== 'En attente') {
          <button class="" type="button" (click)="sendTrailToReview(sentier!)">Publier</button>
        }

      } @else {
        <p>Connectez-vous pour modifier ce sentier</p>
      }
    }

    <app-map [singleSentier]="sentier"/>

    <img
      alt="QR code du sentier"
      height="100"
      priority
      width="100"
      [ngSrc]="trailQrCode()"
    />

    <ul>
      @if (sentier!.image) {
        <div class="w-40 h-40 relative">
          <img alt="Image du sentier {{ sentier!.display_name }}" class="" fill ngSrc="{{ sentier!.image.url }}" priority />
        </div>
      } @else {
        <li>Aucune image disponible</li>
      }
      <li>id: {{ sentier!.id }}</li>
      <li>auteur_id: {{ sentier!.author_id }}</li>
      <li>auteur: {{ sentier!.author }}</li>
      <li>email: {{ sentier!.author_email }}</li>
      <li>Créée le : {{ sentier!.date_creation | date:"d MMMM y" }}</li>
      @if (sentier!.date_modification) {
        <li>modifié le : {{ sentier!.date_modification | date:"d MMMM y" }}</li>
      }
      @if (sentier!.date_publication) {
        <li>publié le : {{ sentier!.date_publication | date:"d MMMM y" }}</li>
      }
      <li>url: {{ sentier!.details }}</li>

      <hr />
      <li>Accessibilité PMR: {{ sentier!.prm }}</li>
      @if (sentier!.best_season) {
        Meilleures saisons:
        @for (season of sentier!.best_season; track $index) {
          <span class="inline-block bg-gray-200 text-gray-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">{{ season }}</span>
        }
      }

      <hr />
      @if (!sentier!.position || !sentier!.position.start) {
        <li>Aucune position de départ/arrivée définie</li>
      }

      @if (!sentier!.path || sentier!.path.coordinates.length === 0){
        <li>Aucun chemin défini</li>
      }
      <li>Longueur: {{ sentier!.path_length }} m</li>

      <hr />
      <li>Nombre d'occurrences: {{ sentier!.occurrences_count }}</li>
      <li>Nombre de taxons: {{ sentier!.nb_taxons }}</li>
      @if (sentier!.occurrences && sentier!.occurrences.length > 0) {
        <li class="mt-2">
          <ul class="mt-2">
            @for (occurrence of sentier!.occurrences; track occurrence.id) {
              @if (!occurrence.position) {
                <li class="mb-2"><span class="font-bold underline">Occurrence sans localisation:</span>
                  Id: {{ occurrence.id}} -
                  {{ occurrence.anecdotes }} -
                  nt: {{ occurrence.taxon?.taxonomic_id }} -
                  name_id: {{ occurrence.taxon?.name_id }} -
                  {{ occurrence.taxon?.scientific_name }} -
                  {{ occurrence.taxon?.taxon_repository }} -
                  {{ occurrence.taxon?.tabs ?? 'Pas de fiche'}} -
                  @if (occurrence.taxon?.vernacular_names?.length) {
                    {{ occurrence.taxon!.vernacular_names!.join(', ') }}
                  }
                  @if (occurrence.images && occurrence.images.length > 0) {
                    <div class="w-40 h-40 relative">
                      <img alt="Image de l'occurrence {{ occurrence.id }}" class="" fill ngSrc="{{ occurrence.images[0].url }}" priority />
                    </div>
                  }
                </li>
              }
            }
          </ul>
        </li>
      }
    </ul>

    <hr />

  }
</div>

@if (showTrailModal) {
  <app-sentier-form
    [sentier]="sentierToUpdate"
    (modalClosed)="closeTrailModal()"
  />
}

@if (showDeleteConfirmModal) {
  <app-modal-delete-trail-confirmation
    [sentierToDelete]="sentierToDelete"
    (modalClosed)="closeDeleteConfirmModal()"
  />
}
