<div [class.blur-2xl]="sharedService.blurBackground()">
  @if (sentierService.loading()) {
    <app-loader />
  } @else if (sentierService.error()) {
    <app-error [errorMessage]="sentierService.error() ?? 'Erreur inconnue'" />
  } @else {
    <h2>{{ sentier!.display_name }}</h2>

    <p>Créée le : <span class="font-bold">{{ sentier!.date_creation | date:"d MMMM y" }}</span></p>
    @if (sentier!.date_modification) {
      <p>modifié le : <span class="font-bold">{{ sentier!.date_modification | date:"d MMMM y" }}</span></p>
    }
    @if (sentier!.date_publication) {
      <p>publié le : <span class="font-bold">{{ sentier!.date_publication | date:"d MMMM y" }}</span></p>
    }
    <p>auteur: <span class="font-bold">{{ sentier!.author }}</span></p>

    <!--      TODO: A n'afficher que pour les admins-->
    <p>auteur_id: <span class="font-bold">>{{ sentier!.author_id }}</span>
       / <span class="font-bold">email: {{ sentier!.author_email }}</span></p>

    @if (sentier!.status !== 'Validé') {
      <p>État: <span class="font-bold">{{ sentier!.status ?? 'brouillon' }}</span></p>

      @if (isLoggedIn() && user && user.id === sentier!.author_id) {
        <button class="" type="button" (click)="openTrailModal(sentier!)">Modifier ce sentier</button>
        <button
          class="bg-red-800 hover:bg-red-600 text-white"
          type="button"
          (click)="openDeleteConfirmModal(sentier!)"
        >supprimer ce sentier</button>

        @if (sentier!.status !== 'Validé' && sentier!.status !== 'En attente') {
          <button class="" type="button" (click)="checkSentier(sentier!)">Vérifier ce sentier</button>
        }

        @if (sentierCheck().status && sentier!.status !== 'En attente') {
          <app-sentier-check-errors [check]="sentierCheck()!" />
        }
        @if (sentierCheckError() && sentier!.status !== 'En attente') {
          <h3>Erreurs détectées:</h3>
          <app-sentier-check-errors [error]="sentierCheckError()!" />
          <h5 class="border border-2 p-2 border-primary">Merci de résoudre les erreurs ci-dessus afin de pouvoir envoyer votre sentier aux administrateurs pour vérification et publication.</h5>
        }

        @if (sentierCheck().status && !sentierCheckError() && sentier!.status !== 'En attente') {
          <button class="" type="button" (click)="sendTrailToReview(sentier!)">Publier</button>
        }

        <!--        TODO: ajouter bouton pour admin pour pouvoir valider le sentier-->

      } @else {
        <p>Connectez-vous pour modifier ce sentier</p>
      }
    }

    <app-pdf-export
      type="sentier"
      [isLoading]="taxonSearchService.loading()"
      [mapImageUrl]="mapImageUrl()"
      [sentier]="sentier!"
      [taxons]="taxonSearchService.taxons()"
      (beforeExport)="captureMap()"
    />

    <app-map #mapComponent [singleSentier]="sentier" />

    <img
      alt="QR code du sentier"
      height="100"
      priority
      width="100"
      [ngSrc]="trailQrCode()"
    />

    <ul>
      @if (sentier!.image) {
        <div class="w-40 h-40 relative">
          <img alt="Image du sentier {{ sentier!.display_name }}" class="" fill ngSrc="{{ sentier!.image.url }}" priority />
        </div>
      } @else {
        <li>Aucune image disponible</li>
      }

      <hr />
      <li>Accessibilité PMR: {{ pdfExportService.getPmrText(sentier!.prm) }}</li>
      @if (sentier!.best_season) {
        <div id="best_seasons" class="flex flex-wrap gap-8">
          Meilleures saisons:
          @for (season of sentier!.best_season; track $index) {
            @if (season) {
              <img
                ngSrc="/assets/images/{{ seasonImages[$index] }}"
                title="{{ seasonLabels[$index] }}"
                width="64"
                height="64"
                [alt]="seasonLabels[$index]"
              />
            }
          }
        </div>
      }

      <hr />
      @if (!sentier!.position || !sentier!.position.start) {
        <li>Aucune position de départ/arrivée définie</li>
      }

      @if (!sentier!.path || sentier!.path.coordinates.length === 0) {
        <li>Aucun chemin défini</li>
      }
      <li>Longueur: {{ sentier!.path_length }} m</li>

      <hr />
      <li>Nombre d'observations: {{ sentier!.occurrences_count }}</li>
      <li>Nombre de taxons: {{ sentier!.nb_taxons }}</li>

      <div class="mt-2">
        <h3>Taxons du sentier</h3>
        <ul class="grid grid-cols-1 gap-4 mt-2 sm:grid-cols-2 lg:grid-cols-3">
          @for (occurrence of occurencesUniques(); track occurrence.id) {
            <app-occurrence-card
              [occurrence]="occurrence"
              (openOccurrence)="openOccurrence($event)"
            />
          }
        </ul>
      </div>
    </ul>
    <hr />
  }
</div>

@if (showTrailModal) {
  <app-sentier-form
    [sentier]="sentierToUpdate"
    (modalClosed)="closeTrailModal()"
  />
}

@if (showDeleteConfirmModal) {
  <app-modal-delete-trail-confirmation
    [sentierToDelete]="sentierToDelete"
    (modalClosed)="closeDeleteConfirmModal()"
  />
}

<dialog
  #occurrenceListDialog
  class="border-0 rounded-xl p-0 shadow-2xl top-50 left-1/2 translate-y--50 -translate-x-1/2 w-full max-w-2xl"
  (close)="closeOccurrence()"
>
  <app-occurrence-modal-detail
    [occurrence]="selectedOccurrence()"
    [onClose]="closeOccurrence"
    [sentier]="sentier!"
  />
</dialog>
