<div [class.blur-2xl]="sharedService.blurBackground()">
  @if (sentierService.loading()) {
    <app-loader />
  } @else if (sentierService.error()) {
    <app-error [errorMessage]="sentierService.error() ?? 'Erreur inconnue'" />
  } @else {
    <h2>{{ sentier!.display_name }}</h2>

    @if (sentier!.status !== 'Validé') {
      <p>État: {{ sentier!.status ?? 'brouillon' }}</p>

      @if (isLoggedIn() && user && user.id === sentier!.author_id) {
        <button class="" type="button" (click)="openTrailModal(sentier!)">Modifier ce sentier</button>
        <button
          class="bg-red-800 hover:bg-red-600 text-white"
          type="button"
          (click)="openDeleteConfirmModal(sentier!)"
        >supprimer ce sentier</button>

        @if (sentier!.status !== 'Validé' && sentier!.status !== 'En attente') {
          <button class="" type="button" (click)="checkSentier(sentier!)">Vérifier ce sentier</button>
        }

        @if (sentierCheck().status && sentier!.status !== 'En attente') {
          <app-sentier-check-errors [check]="sentierCheck()!" />
        }
        @if (sentierCheckError() && sentier!.status !== 'En attente') {
          <h3>Erreurs détectées:</h3>
          <app-sentier-check-errors [error]="sentierCheckError()!" />
          <h5 class="border border-2 p-2 border-primary">Merci de résoudre les erreurs ci-dessus afin de pouvoir envoyer votre sentier aux administrateurs pour vérification et publication.</h5>
        }

        @if (sentierCheck().status && !sentierCheckError() && sentier!.status !== 'En attente') {
          <button class="" type="button" (click)="sendTrailToReview(sentier!)">Publier</button>
        }

        <!--        TODO: ajouter bouton pour admin pour pouvoir valider le sentier-->

      } @else {
        <p>Connectez-vous pour modifier ce sentier</p>
      }
    }

    <app-pdf-export
      type="sentier"
      [sentier]="sentier!"
      [taxons]="taxonSearchService.taxons()"
      [mapImageUrl]="mapImageUrl()"
      [isLoading]="taxonSearchService.loading()"
      (beforeExport)="captureMap()"
    />

    <app-map #mapComponent [singleSentier]="sentier" />

    <img
      alt="QR code du sentier"
      height="100"
      priority
      width="100"
      [ngSrc]="trailQrCode()"
    />

    <ul>
      @if (sentier!.image) {
        <div class="w-40 h-40 relative">
          <img alt="Image du sentier {{ sentier!.display_name }}" class="" fill ngSrc="{{ sentier!.image.url }}" priority />
        </div>
      } @else {
        <li>Aucune image disponible</li>
      }
<!--      TODO: A n'afficher que pour les admins-->
      <li>auteur_id: {{ sentier!.author_id }}</li>

      <li>auteur: {{ sentier!.author }}</li>

<!--TODO: A n'afficher que pour les admins-->
      <li>email: {{ sentier!.author_email }}</li>

      <li>Créée le : {{ sentier!.date_creation | date:"d MMMM y" }}</li>
      @if (sentier!.date_modification) {
        <li>modifié le : {{ sentier!.date_modification | date:"d MMMM y" }}</li>
      }
      @if (sentier!.date_publication) {
        <li>publié le : {{ sentier!.date_publication | date:"d MMMM y" }}</li>
      }

      <hr />
      <li>Accessibilité PMR: {{ sentier!.prm }}</li>
      @if (sentier!.best_season) {
        Meilleures saisons:
        @for (season of sentier!.best_season; track $index) {
          <span class="inline-block bg-gray-200 text-gray-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">{{ season }}</span>
        }
      }

      <hr />
      @if (!sentier!.position || !sentier!.position.start) {
        <li>Aucune position de départ/arrivée définie</li>
      }

      @if (!sentier!.path || sentier!.path.coordinates.length === 0) {
        <li>Aucun chemin défini</li>
      }
      <li>Longueur: {{ sentier!.path_length }} m</li>

      <hr />
      <li>Nombre d'occurrences: {{ sentier!.occurrences_count }}</li>
      <li>Nombre de taxons: {{ sentier!.nb_taxons }}</li>

      <li class="mt-2">
        <h3>Taxons du sentier:</h3>
        <ul class="mt-2">
          @for (occurrence of occurencesUniques(); track occurrence.id) {
            @let taxon = taxonSearchService.getFullTaxon(occurrence);
            <li class="mb-4 p-2 border rounded">
              @if (occurrence.taxon!.vernacular_names?.length) {
                <div class="font-bold">{{ occurrence.taxon!.vernacular_names!.join(', ') }}</div>
                <div class="text-sm italic text-gray-600">{{ occurrence.taxon!.scientific_name }}</div>
              } @else {
                <div class="font-bold italic">{{ occurrence.taxon!.scientific_name }}</div>
              }

              @if (taxon && taxonSearchService.hasFiche(occurrence)) {
                <span class="text-green-600 text-sm">✓ Fiche disponible</span>

                @if (taxonSearchService.isFicheFullyCompleted(taxon)) {
                  <span class="text-green-600 text-sm"> ✓ Fiche complète</span>
                }

                <button title="Voir la fiche" type="button">
                  <a target="_blank"
                     [routerLink]="['/fiche', occurrence.taxon!.taxon_repository, occurrence.taxon!.taxonomic_id, occurrence.taxon!.name_id]">
                    Voir la fiche
                  </a>
                </button>

                <app-qr-code-button [taxon]="occurrence.taxon!" />

                <button title="Voir le détail" type="button" (click)="openOccurrence(occurrence)">
                  Voir le détail
                </button>
              } @else {
                <span class="text-gray-400 text-sm">✗ Pas de fiche</span>
                <button title="Voir le détail" type="button" (click)="openOccurrence(occurrence)">
                  Voir le détail
                </button>
              }
            </li>
          }
        </ul>
      </li>
      <!--      }-->
    </ul>

    <hr />

  }
</div>

@if (showTrailModal) {
  <app-sentier-form
    [sentier]="sentierToUpdate"
    (modalClosed)="closeTrailModal()"
  />
}

@if (showDeleteConfirmModal) {
  <app-modal-delete-trail-confirmation
    [sentierToDelete]="sentierToDelete"
    (modalClosed)="closeDeleteConfirmModal()"
  />
}

<dialog
  #occurrenceListDialog
  class="border-0 rounded-xl p-0 shadow-2xl"
  (close)="closeOccurrence()"
>
  <app-occurrence-modal-detail
    [occurrence]="selectedOccurrence()"
    [onClose]="closeOccurrence"
    [sentier]="sentier!"
  />
</dialog>
