@if (check()?.status) {
  <p>Le sentier peut être validé</p>
}

<ul>
  @if (error()?.nb_occurrences) {
    <li>- {{ error()?.nb_occurrences }}</li>
  }

  @if (error()?.localisation) {
    <li>- {{ error()?.localisation }}</li>
  }

  @if (error()?.path) {
    <li>- {{ error()?.path }}</li>
  }

  @if (error()?.occurrences_localisation) {
    <li>- {{ error()?.occurrences_localisation }}</li>
  }

  @if (error()?.fiches_incompletes) {
    <li>- Fiche(s) incomplète(s):
      @for (fiche of error()?.fiches_incompletes; track fiche.occurrence_id) {
        <ul class="ml-6 mb-2">
          <li>
            <span class="underline font-bold">Occurrence:</span> #{{ fiche?.occurrence_id }}
            - <span class="underline font-bold">Taxon:</span> <span class="italic">{{ fiche?.taxon?.scientific_name }}</span>
            - <span class="underline font-bold">Référentiel:</span> {{ fiche?.taxon?.taxon_repository }}
            - <span class="underline font-bold">Erreur:</span> {{ fiche.error }}
          </li>
        </ul>
      }
    </li>
  }
</ul>

