<section class="w-full rounded flex items-center justify-end sm:justify-between gap-4 px-6 py-3
               bg-background-50 border-b border-background-200 shadow-sm">
  <div class="max-w-3xl mx-auto flex flex-col sm:flex-row items-center justify-between gap-4 text-text-500">
    <p class="m-0">© Tela Botanica — Licence
      <a class="hover:underline text-accent-600" href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr" rel="noopener noreferrer" target="_blank">
        CC BY-SA 4.0
      </a>
    </p>
    <p class="m-0">Soutenu par l'Office français de la biodiversité</p>
  </div>
</section>
