<div class="flex justify-start items-center gap-4 mb-4">
  <div>
    {{ taxon().scientific_name }}
  </div>

  <div>
    @if (taxon().vernacular_names?.length) {
      {{ taxon().vernacular_names!.join(', ') }}
    }
  </div>

  <div>
    Espèce: {{ taxon().espece }}
  </div>

  <div>
    Famille: {{ taxon().family }}
  </div>

  <div>
    <button type="button"><a [routerLink]="['/fiche', taxon().taxon_repository, taxon().taxonomic_id, taxon().name_id]">Ouvrir</a></button>
  </div>

  <div>
    TODO: fiche (voir/editer), QR code, exporter en pdf, image ?
  </div>
</div>
