@import 'leaflet/dist/leaflet.css';
@import 'leaflet.markercluster/dist/MarkerCluster.css';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';

/*You can add global styles to this file, and also import other style files*/
.blur-background::before{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3000px);
  background-color: #707070;
  /*background-color: transparent;*/
  opacity: 0.8;
  z-index: 15;
}

.blur-background {
  overflow: hidden;
}

.popup {
  border-radius: 20px;
  position: fixed;
  padding: 1rem;
  z-index: 25;
  height: 75%;
  width: 80%;
  top: 10%;
  left: 10%;
  overflow-y: auto;
}

.leaflet-pane, .leaflet-top, .leaflet-bottom {
  z-index: 8 !important;
}
